body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: burlywood;
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  height: 80%;
  width: 180px;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-left: -160px;
  background-color: white;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
}
.choosen-card {
  height: 250px;
  width: 180px;
  position: relative;
  margin: 0.2rem;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  background-size: cover;
}
.container .top div {
  max-width: 20px;
}
.container .top {
  position: absolute;
  top: 5px;
  left: 5px;
}
.container .top img {
  max-width: 30px;
}

.container .center img {
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.container .bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.choosen-card .top {
  position: absolute;
  top: 5px;
  left: 5px;
}

.choosen-card .center img {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.choosen-card .bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
